@using Microsoft.AspNet.Identity
@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MSc Bank</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MSc Bank", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (string.IsNullOrEmpty( User.Identity.GetUserId())) {

                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    } else {
                        <li>@Html.ActionLink("Home", "Index", "LoggedIn")</li>
                    }

                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("T&C", "TAndC", "Home")</li>
                    <li><a href="http://www.moneysupermarket.com/?Keyword=moneysupermarket&p=0&forceupdate=1&engine=google&CType=&source=GOO-004AEF26&mckv=s0ER6q1q2|dc_pcrid_77584781702_mtype_e_kword_moneysupermarket_2764ri918980&uuid=7e36fcb0-08a3-402d-9b17-c28bcfd72d02&Device=c&engine=google&CType=&gclid=Cj0KCQjw24nNBRChARIsALldLD3pFu9dS2oM9XFnUbS2Tmcu8CL7-9Kr_JV0i3Y35Ngy0xqK6pp6ywUaAkOrEALw_wcB" 
                           target="_blank"><span>Moneysupermarket.com</span></a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MSc Bank - Mounty Shire Community Bank</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
