@model MScBank.ViewModels.NewAccountViewModel
@{
    ViewBag.Title = "DebitAccountForm";
}

<h2>Open new Mortgage Account</h2>
<br />
<p>A credit card is for day to day use which can serve as contingency funds and can improve credit rating if used smart. Current interest is 20%.</p>
<p>Currently we provide with an online based credit card which has no physical card.</p>
<br />
<p>A loan is a one off big payment into your account which can be used for several different things incuding a bigger purchase such as a car</p>
<p>(but not a home) or paying off existing debt. It cannot be used for gambling, for unlowful purposes, for investments or for buying a property.</p>
<p>The minimum term for a loan is 1 year and the minimum amount is £1000. The maximum term is 7 years and maximum amount is £25000.</p>
<p>Current rate is 10%</p>
<br />
<p>A mortgage is a big loan secured against a home which is primarily used for a home purchase. </p>
<p>The minimum term for a mortgage is 5 years and the minimum amount is £5000. The maximum term is 35 years.</p>
<p>Current rate is 2%</p>
<br />
<p class="text-danger">ONLY ONE OF EACH LENDING ACCOUNT TYPE CAN BE OPENED PER CUSTOMER!</p>
<br />
<p>Please enter an opening balance: </p>
<br />

@using (Html.BeginForm("CreateMortgageAccount", "NewAccount")) {

    <div class="form-group">
        @Html.LabelFor(m => m.Mortgage.LendingAmount)
        @Html.TextBoxFor(m => m.Mortgage.LendingAmount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Mortgage.LendingAmount)

        <br /><br />

        @Html.LabelFor(m => m.Mortgage.Term)
        @Html.TextBoxFor(m => m.Mortgage.Term, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Mortgage.Term)

        <br /><br />

        @Html.LabelFor(m => m.Mortgage.SecurityAddress)
        @Html.TextBoxFor(m => m.Mortgage.SecurityAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Mortgage.SecurityAddress)

        <br /><br />

        @Html.LabelFor(m => m.Mortgage.Name)
        @Html.TextBoxFor(m => m.Mortgage.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Mortgage.Name)
    </div>
    @Html.AntiForgeryToken()
    <button class="btn btn-primary" type="submit">Open</button>
}
