@model MScBank.ViewModels.MyAccountsViewmodel
@{
    ViewBag.Title = "Index";
}

<h1>My Accounts</h1>

<br /> <br />
<div class="row">
    <div class="col-md-6">
        @if (Model == null) {
            <p class="text-warning">Sorry, you have no open accounts at the moment!</p>
            <p>Why don't you open an account with us now!</p>
            @Html.ActionLink("Open an acccount", "Index", "NewAccount")
        } else {
            <table class="table-bordered table-hover table-responsive center-block">
                <thead>
                    <tr class="padTablerow">
                        <th class="padTablerow">Account</th>
                        <th class="padTablerow">Type</th>
                        <th class="padTablerow">Balance</th>
                        <th class="padTablerow">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.MyAccounts) {
                        <tr>
                            <td class="padTablerow">@account.Name</td>
                            <td class="padTablerow">@account.Type</td>
                            <td class="padTablerow">@account.Balance</td>
                            <td class="padTablerow">@Html.ActionLink("Details", "AccountDetails", "MyAccounts", new { accountId = account.Id }, null)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="md-col-6">
        <img src="~/Content/Pics/MyAccountsIndexPic.jpg" class="img-responsive img-rounded" width="500" />
    </div>
</div>



