@model MScBank.ViewModels.TransferFundsViewModel
@using MScBank.Models
@{
    ViewBag.Title = "PayCredit";
}
@{ 
    BankAccountBase intoAccount;

    using(var _context = new ApplicationDbContext()) {

        intoAccount = _context.Accounts.Where(a => a.SortCode == Model.ToAccountSC).Single(a => a.AccountNumber == Model.ToAccountAcNum);
    }
}

<h2>Pay Credit</h2>

<div class="row">
    <div class="col-md-6">
        <p><span style="font-weight:bold">Sending money FROM account : </span></p>
        <p><span style="font-weight:bold">Name of account : </span>@Model.FromAccount.Name</p>
        <p><span style="font-weight:bold">Sort code : </span>@Model.FromAccount.SortCode</p>
        <p><span style="font-weight:bold">Account Number : </span>@Model.FromAccount.AccountNumber</p>
        <p><span style="font-weight:bold">Balance : </span>@Model.FromAccount.Balance</p>
        <br />
    </div>
    <div class="col-md-6">
        <p><span style="font-weight:bold">Sending money TO account : </span></p>
        <p><span style="font-weight:bold">Name of account : </span>@intoAccount.Name</p>
        <p><span style="font-weight:bold">Sort code : </span>@intoAccount.SortCode</p>
        <p><span style="font-weight:bold">Account Number : </span>@intoAccount.AccountNumber</p>
        <p><span style="font-weight:bold">Balance : </span>@intoAccount.Balance</p>
        <br />
    </div>
</div>
<div class="row">
    @using (Html.BeginForm("Pay", "MyAccounts")) {
        @Html.LabelFor(a => a.Amount)
        @Html.TextBoxFor(a => a.Amount, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Amount)
        <br /><br />
        @Html.HiddenFor(a => a.FromAccountId)
        @Html.HiddenFor(a => a.ToAccountAcNum)
        @Html.HiddenFor(a => a.ToAccountSC)
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
    }
    
</div>

<br />


